	<div class="container">
		<hr>
		<p class="pull-right">Made by <a href="http://mobiento.com">Mobiento</a> with <span style="color: red;">â¤</span></p>
	</div>

    <script src="/assets/build/scripts.js"></script>
</body>
</html>