	<div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <button class="btn btn-default action-update pull-left">Update</button>
		<button class="btn btn-primary action-save pull-right">Save</button>
		<button class="btn btn-success action-showvalidation pull-right" disabled="true">Valid</button>
      </div>
    </div>

	<div class="container">
		<hr>
		<p class="pull-right">Made by <a href="http://mobiento.com">Mobiento</a> with <span style="color:red;">❤</span></p>
	</div>

	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content panel-" id="modal-content">
				<div class="modal-header panel-heading">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal-title">Modal title</h4>
				</div>
				<div class="modal-body" id="modal-body">
				...
				</div>
				<div class="modal-footer" id="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/assets/scripts/jsonlint.js"></script>
	<!--script src="http://codemirror.net/lib/codemirror.js"></script>
	<script src="http://codemirror.net/mode/javascript/javascript.js"></script>
	<script src="http://codemirror.net/addon/lint/lint.js"></script>
	<script src="http://codemirror.net/addon/lint/json-lint.js"></script-->
    <script src="/assets/build/scripts.js"></script>
</body>
</html>