@import "bootstrap";
@import "codemirror";

/* 	——————————————————————————————————————————
	DEFAULT
	—————————————————————————————————————————— */

body { padding: 20px 0 60px 0; }
 
hr {
	clear: both;
	padding-top: 20px;
	margin-top: 0;
	border-top: 0;
	border-bottom: 1px solid #e5e5e5;
}


/* 	——————————————————————————————————————————
	HEADER
	—————————————————————————————————————————— */

.header {
	padding: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;

	h3 {
		padding-bottom: 19px;
		margin: 0;
		line-height: 40px;

		a {
			color: inherit;

			&:hover,
			&:focus, { text-decoration: none; }
		}
	}
}


/* 	——————————————————————————————————————————
	MENU
	—————————————————————————————————————————— */

.nav li { text-transform: capitalize; }


/* 	——————————————————————————————————————————
	HERO
	—————————————————————————————————————————— */

.jumbotron {
	margin-bottom: 10px;
	text-align: center;

	h1 { font-size: 63px; }

	p {
		margin-bottom: 15px;
		font-weight: 200;
	}
}


/* 	——————————————————————————————————————————
	SECTION
	—————————————————————————————————————————— */

[id*="section-"] { 
	display: none; 
	opacity: 0; 
	transition: opacity .5s; 

	&.is-loaded { opacity: 1; }
}

#section-schema { display: block; }
#section-editor h3 > span { font-size: 30px; text-transform: capitalize; } 


/* 	——————————————————————————————————————————
	BUTTONS
	—————————————————————————————————————————— */

[class*="action-"] { margin-top: 7px; }
.action-showvalidation { margin-right: 7px; }


/* 	——————————————————————————————————————————
	CODE EDITOR
	—————————————————————————————————————————— */

.CodeMirror {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	margin-bottom: 20px;
}

.CodeMirror-lines { padding: 10px 0; }
.CodeMirror pre { padding: 2px 4px; }

.CodeMirror-gutters {
	font-family: monospace;
	background-color: #fbfbfc;
	border-right: 1px solid #ececf0;
}

.CodeMirror-linenumber {
	padding: 2px 10px 2px 5px;
	color: #bebec5;
}

.CodeMirror-activeline-background { background-color: #ececf0; }

.CodeMirror-matchingbracket {
	color: #000 !important;
	border-bottom: 2px solid #000;
}