{{> header }}

<div class="container">
    <div class="row">

        <div id="section-editor" class="col-md-12 section">

            <div id="schema-editor" class="clearfix"></div>

        </div>

        <!-- -->

        <div id="section-schema" class="col-md-12 section">
            <h2>Schema</h2>
            <p>
                If you want to see your changes applied to the top editor, click update.
            </p>
            <textarea id="schema-tree"></textarea>

        </div>

        <!-- -->

        <div id="section-data" class="col-md-12 section">

            <h2>Data</h2>
            <p>
                If you want to see your changes applied to the top editor, click update.
            </p>
            <textarea id="schema-data"></textarea>

        </div>
    </div>
</div>

{{> footer }}
