{{> header }}

<div class="container">

  <div class="jumbotron">
    <h1>Prototype data</h1>
    <p class="lead">
      The easiest way to prototype data for managers, designers, developers… 
      Write a schema to structure your data then edit via a user friendly interface. 
      You can use GET, POST, PUT and access your resources from anywhere using CORS and JSONP.
    </p>
    <p>
      <a class="btn btn-lg btn-success" href="/edit/" role="button">Let's try!</a>
    </p>
  </div>

</div>

{{> footer }}